*,
*::before,
*::after {
  box-sizing: border-box;
}

/* FONTS ICON */
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?rj8fwo");
  src: url("fonts/icomoon.eot?rj8fwo#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?rj8fwo") format("truetype"),
    url("fonts/icomoon.woff?rj8fwo") format("woff"),
    url("fonts/icomoon.svg?rj8fwo#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e901";
  font-size: 20px;
  padding-right: 20px;
}
.icon-facebook:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e900";
}
.icon-planet:before {
  content: "\e906";
  font-size: 20px;
  padding-right: 20px;
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-pinterest:before {
  content: "\ead2";
}
.icon-mail:before {
  content: "\e905";
  font-size: 20px;
  padding-right: 20px;
}
.icon-map:before {
  content: "\e904";
  font-size: 20px;
  padding-right: 20px;
}
.icon-google:before {
  content: "\e903";
}
/* FONTS ICON */

* {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  border: none;
  color: #ffffff;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
}

a {
  text-decoration: none;
}

/* THE ALL SITE */
.wrapper {
  display: flex;
  flex-direction: column;
  /* max-width: 100%; */
  width: 1920px;
  /* width: 100%; */
  /* max-width: 1920px; */
  min-height: 100vh;
}

.content {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
/* THE ALL SITE */

/* HEADER */
.header {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-head {
  width: 820px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 71px;
}

.nav-right > .menu-box {
  display: flex;
  justify-content: flex-end;
}

.menu-box > li {
  display: inline;
}

.menu-box > li > a {
  color: #555555;
  padding: 0 13px;
  font-weight: bold;
}

.link {
  position: relative;
}

.menu-box .active {
  color: #5363db;
}

.active:after {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  background: #5363db;
  position: absolute;
  top: 100%;
  left: 32%;
  margin-top: 1px;
}
/* HEADER */

/* MAIN */
.main {
  flex-grow: 1;
}

.first-content {
  background: url("../img/slider-bg.png") center center / cover no-repeat;
  display: flex;
  justify-content: center;
  position: relative;
}

.form-text {
  display: flex;
  justify-content: space-between;
  min-width: 930px;
  padding-bottom: 35px;
  margin: 100px;
  margin-left: 340px;
  z-index: 1;
}

.form {
  position: relative;
  background: white;
  border-radius: 20px;
  box-shadow: 2px 2px 15px #4553c0;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 300px;
}

.form > p {
  color: #5363db;
  font-weight: bold;
  font-size: 25.64px;
  margin: 38px 0 29px 30px;
  padding-left: 4px;
}

.form > input,
select {
  max-width: 230px;
  height: 50px;
  background: #f2f2f2;
  border-radius: 8px;
  margin-left: 30px;
  color: black;
}

.form > input:nth-child(2) {
  padding: 0 10px 8px;
  margin-bottom: 15px;
}

.form > input:nth-child(3) {
  padding: 0 10px 2px;
  margin-bottom: 17px;
}

.form > select {
  padding: 0 10px;
  margin-bottom: 15px;
}

.form-button {
  background: #475bf1;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  word-spacing: 2px;
  margin: 17px 0 0 95px;
  max-width: 170px;
  padding: 13px 0 15px;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
}

.text-on-fone {
  width: 570px;
  height: 265px;
  margin-top: 58px;
  padding-left: 35px;
  display: flex;
  flex-direction: column;
}

.text-on-fone > h1 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.46;
  letter-spacing: 0.8px;
  display: inline;
}

.text-on-fone > p {
  display: inline;
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 0.88;
  word-spacing: 5px;
  font-family: "Freestyle Script";
}

/* TWO CONENT */
.two-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.block3 {
  height: 825px;
  margin-bottom: 125px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.block3-text {
  width: 420px;
  padding-top: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block3-text > h1 {
  color: #5b6ceb;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 3px;
  letter-spacing: 0.4px;
}

.block3-text > p {
  color: #777777;
  font-size: 40.99px;
  padding-right: 5px;
  padding-top: 17px;
  word-spacing: 2px;
  letter-spacing: 1.4px;
  font-family: "Freestyle Script";
}

.block3-boxs {
  min-height: 625px;
  margin-top: 68px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.box-info {
  width: 570px;
  box-shadow: 3px 3px 15px #e4e4e4;
}

.box-info > img {
  float: left;
}

.box-text {
  margin-left: 300px;
  width: 245px;
}

.box-text > h1 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 47px;
  letter-spacing: 0.3px;
  color: #777777;
}

.box-text > blockquote {
  color: #6c6c6c;
  margin-top: 28px;
  line-height: 1.6;
  margin-top: 28px;
  margin-bottom: 10px;
}

.box-text > cite {
  color: #999999;
}

/* THREE CONTENT */
.gallery {
  max-height: 700px;
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  border: none;
}

.gallery-img {
  width: 25%;
}

.gallery-img > img {
  width: 100%;
}

.gallery-hover {
  background: url(./img/hover_6.png) center center / 70px 70px no-repeat
    rgba(117, 132, 243, 0.8);
  position: relative;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* 
.hover>img{
  width: 100%;
}

.hover{
  width: 25%;
  position: relative;
} */

.gallery-img:hover,
.gallery-hover:hover {
  opacity: 1;
  cursor: pointer;
}

/* .hover::after {
  content: "";
  background: url(./img/hover_6.png) no-repeat;
  position: absolute;
  top: 146px;
  left: 211px;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.hover::before {
  content: "";
  background: rgba(117, 132, 243, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}  */

/* FOUR CONTENT */
.four-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us {
  padding: 124px 15px;
  display: flex;
  justify-content: space-between;
}

.about-us-text > h1 {
  font-size: 30px;
  font-weight: bold;
  color: #5b6ceb;
  text-transform: uppercase;
  padding-top: 20px;
  margin-bottom: 19px;
  word-spacing: 1px;
  letter-spacing: 0.1px;
}

.about-us-text > p {
  line-height: 1.7;
  color: #555555;
}

.yoga-gallery {
  max-width: 570px;
  margin-left: 181.62px;
  position: relative;
}

.yoga-gallery img {
  border-radius: 8px;
}

.yoga-gallery::after {
  content: "";
  background: rgb(196, 197, 201, 0.3);
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slick-next {
  right: 12px;
  top: 45%;
  z-index: 1;
}

.slick-prev {
  left: -28px;
  top: 45%;
  z-index: 1;
}

.slick-prev::before,
.slick-next::before {
  color: #ff4d4d;
  font-size: 60px;
}

/* FIVE CONTENT */
.five-content {
  padding: 125px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background: url("../img/feture-fone.png") center center / cover no-repeat;
}

.features {
  min-height: 550px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.features-boxs {
  width: 270px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-boxs > img {
  margin-bottom: 27px;
}

.features-boxs > h1 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.3px;
  padding-left: 1px;
  padding-bottom: 12px;
  flex-grow: 1;
}

.features-boxs > p {
  line-height: 1.7;
  text-align: center;
  font-size: 16px;
  padding-bottom: 7px;
}

/* SIX CONTENT */
.six-content {
  min-height: 1150px;
  margin-top: 100px;
  background: url(./img/lotos-decoration.png) center center / cover no-repeat;
}

.boxs-prices {
  display: flex;
  justify-content: space-between;
}

.box-prices {
  max-width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  box-shadow: 2px 2px 15px #c7c7c7;
}

.box-prices h1 {
  border-radius: 10px 10px 0 0;
  background: #5b6ceb;
  font-weight: bold;
  font-size: 67px;
  padding: 41.5px 138px;
}

.box-prices h1::before {
  content: "$";
  font-size: 32px;
  position: relative;
  bottom: 10px;
  right: 20px;
}

.box-prices sub {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  bottom: 63px;
  left: 90px;
  text-transform: uppercase;
}

.box-prices p {
  padding-top: 50px;
  font-size: 18px;
  color: #6a6a6a;
  text-transform: uppercase;
}

.box-prices p::after {
  content: "";
  width: 100px;
  height: 1px;
  background: #d7d7d7;
  display: block;
  position: relative;
  top: 130%;
  left: 25%;
}

.box-prices p + p + p::after {
  display: none;
}

.box-prices a {
  margin: 50px 0;
  border-radius: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 16px 48px;
  background: #5b6ceb;
}

.boxs-bloquotes {
  margin-top: 110px;
  width: 1170px;
  height: 250px;
  background: white;
  box-shadow: 2px 2px 15px #c7c7c7;
  border-radius: 10px;
  position: relative;
}

.bloquotes img {
  float: left;
  padding: 40px 90px 65px 60px;
}

.bloquotes blockquote {
  color: #777777;
  font-style: italic;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 900px;
  position: relative;
}

.bloquotes blockquote::before {
  content: "\2033";
  height: 40px;
  position: absolute;
  color: #5b6ceb;
  font-size: 55px;
  transform: rotate(180deg);
  top: 36px;
  left: 250px;
}

.bloquotes blockquote::after {
  content: "\2033";
  height: 40px;
  position: absolute;
  color: #5b6ceb;
  font-size: 55px;
  top: 100px;
  right: -50px;
}

.bloquotes cite{
  color: #777777;
}

.bloquotes cite>p{
  font-size: 20px;
  color: #5b6ceb;
  font-weight: bold;
  padding-top: 5px;
}

.bloquotes cite::before{
  content: '';
  background: #d7d7d7;
  width: 2px;
  height: 75px;
  display: block;
  position: absolute;
  top: 100px;
  left: 255px;
}

.blockquote-slider{
  position: absolute;
  left: 100%;
  top: 20px;
}

.slide{
  border: 2px solid grey;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: 20px;
  margin-left: 45px;
}

.slide:nth-child(2){
  border: 2px solid blue;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: 20px;
  margin-left: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide > .slide-active{
  background: blue;
  border-radius: 50%;
  /* margin: 0 auto; */
  width: 10px;
  height: 10px;
  padding: 5px;
}

/* MAIN */

/* FOOTER */
.footer-decoration {
  background: #5b6ceb;
  /* height: 225px; */
  max-height: 450px;
  padding: 100px 0;
  display: flex;
  align-items: center;
}

.decoration {
  min-width: 1100px;
  /* padding: 112.5px 0; */
  display: flex;
  justify-content: space-between;
}

.about {
  max-width: 500px;
  /* height: 300px; */
}

.about > h1,
.contacts > h1 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}

/* .decoration>a{
  font-size: 14px;
} */

.about > p {
  padding: 60px 0 70px;
  line-height: 1.5;
}

.icon {
  /* margin-left: 20px; */
  max-width: 170px;
  font-size: 23px;
  display: flex;
  justify-content: space-between;
}

.contacts {
  max-width: 500px;
}

.icon-left li {
  min-height: 160px;
  padding: 60px 0 0;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.footer-copyright {
  background: #5363d8;
}
.copyright {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright > p {
  opacity: 0.7;
  font-size: 16px;
}

@media (max-width: 1365px) {
  .form-text {
    max-width: 850px;
    height: 360px;
    margin: 30px;
    padding-left: 150px;
  }

  .form {
    width: 330px;
  }

  .form > p {
    margin: 20px 20px 20px;
  }

  .form > input,
  select {
    width: 190px;
    height: 45px;
    margin-left: 20px;
  }
  .form-button {
    margin: 5px 0 0 95px;
    width: 115px;
  }
  .text-on-fone {
    min-width: 480px;
    margin-top: 40px;
    margin-right: 70px;
  }
  .text-on-fone > h1 {
    font-size: 43px;
  }

  .text-on-fone > p {
    font-size: 37px;
  }
  /* 
  .block3{
    margin-top: -150px;
  } */

  .gallery > img {
    width: 25%;
    height: 25%;
  }
  /* 
  .hover >img{
    width: 70%;
  }
  .hover::after {
    top: 6px;
    left: 11px;
    right: 0;
    bottom: 0;
  }
  
  .hover::before {
    width: 25%;
    height: 100%;
  } */

  .about-us {
    margin-top: -70px;
    display: block;
  }
  .about-us-text {
    text-align: center;
    padding-bottom: 50px;
  }
  .yoga-gallery {
    margin-right: 180px;
  }
}
