*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  border: none;
  color: #ffffff;
}

body{
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
}

a {
  text-decoration: none;
}

/* THE ALL SITE */
.wrapper {
  display: flex;
  flex-direction: column;
  /* max-width: 100%; */
  width: 1920px;
  min-height: 100vh;
}
/* THE ALL SITE */

/* HEADER */
.header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-head {
  width: 820px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 71px;
}

.nav-right > .menu-box {
  display: flex;
  justify-content: flex-end;
}

.menu-box > li {
  display: inline;
}

.menu-box > li > a {
  color: #555555;
  padding: 0 13px;
  font-weight: bold;
}

.link {
  position: relative;
}

.menu-box .active {
  color: #5363db;
}

.active:after {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  background: #5363db;
  position: absolute;
  top: 100%;
  left: 32%;
  margin-top: 1px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 0 2px 0;
}

.logo > h1 {
  font-family: "Champagne & Limousines", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #6a78e0;
  padding: 5px 0 0 3px;
  letter-spacing: 2px;
}
/* HEADER */

/* MAIN */
.main {
  flex-grow: 1;
}

.first-content {
  background: url("../img/slider-bg.png") no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.form-text {
  display: flex;
  justify-content: space-between;
  width: 930px;
  height: 390px;
  margin: 100px;
  margin-left: 340px;
}

.form {
  position: relative;
  background: white;
  border-radius: 20px;
  box-shadow: 2px 2px 15px #4553c0;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 300px;
}

.form > p {
  color: #5363db;
  font-weight: bold;
  font-size: 25.64px;
  margin: 38px 0 29px 30px;
  padding-left: 4px;
}

.form > input {
  width: 230px;
  height: 50px;
  background: #f2f2f2;
  border-radius: 8px;
  margin-left: 30px;
}

.form > input:nth-child(2) {
  padding: 0 10px 8px;
  margin-bottom: 15px;
}

.form > input:nth-child(3) {
  padding: 0 10px 2px;
  margin-bottom: 17px;
}

.form > input:nth-child(4) {
  padding: 0 10px;
  margin-bottom: 15px;
}

/* input:nth-child(4):after{ 
  content: '56';
  background: red;
} */

.form-button {
  background: #475bf1;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  word-spacing: 2px;
  margin: 17px 0 0 95px;
  width: 170px;
  padding: 13px 0 15px;
  font-weight: bold;
  font-size: 16px;
}

/* .form>select{ 
  width: 15px;
  left: 205px;
  bottom: 115px;
  border: 1px #f2f2f2 solid;
  background: #f2f2f2;
  position: absolute;
}*/

.text-on-fone {
  width: 570px;
  height: 265px;
  margin-top: 58px;
  padding-left: 35px;
  display: flex;
  flex-direction: column;
}

.text-on-fone > h1 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.46;
  letter-spacing: 0.8px;
  display: inline;
}

.text-on-fone > p {
  display: inline;
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 0.88;
  word-spacing: 5px;
  font-family: "Freestyle Script";
}


/* TWO CONENT */
.two-content{
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block3{
  width: 1170px;
  height: 825px;
  margin-bottom: 125px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.block3-text{
  max-width: 420px;
  height: 90px;
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block3-text>h1{
  color: #5b6ceb;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 2px;
  letter-spacing: 0.4px;
}

.block3-text>p{
  color: #777777;
  font-size: 40.99px;
  padding-right: 5px;
  padding-top: 17px;
  word-spacing: 2px;
  letter-spacing: 1.4px;
  font-family: "Freestyle Script";
}

.block3-boxs{
  /* border: 1px yellow solid; */
  width: 1170px;
  height: 625px;
  margin-top: 67px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.box-info{
  width: 570px;
  height: 300px;
  box-shadow: 3px 3px 15px #e4e4e4;
}

.box-info>img{
  float: left;
}

.box-text{
  margin-left: 300px;
  width: 245px;
}

.box-text>h1{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 47px;
  letter-spacing: 0.3px;
}

.box-text>blockquote{
  color: #6c6c6c;
  margin-top: 28px;
  line-height: 1.6;
  margin-top: 28px;
  margin-bottom: 10px;
}

.box-text>cite{
  color: #999999;
}


/* THREE CONTENT */
.gallery{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


/* FOUR CONTENT */
.four-content{
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us{
  width: 1170px;
  height: 300px;
  display: flex;
  justify-content: space-between;
}

.about-us-text>h1{
  font-size: 30px;
  font-weight: bold;
  color: #5b6ceb;
  text-transform: uppercase;
  padding-top: 20px;
  margin-bottom: 20px;
  word-spacing: 1px;
  letter-spacing: 0.1px;
}

.about-us-text>p{
  line-height: 1.7;
  color: #555555;
}

.about-us-img{
  border-radius: 5px;
  box-shadow: 3px 3px 15px #c3c3c3;
}

.about-us-img::before{
  content: "sdfs";
  width: 50px;
  height: 50px;
  background: #0c0c0c;
  border: 1px black solid;
  position: relative;
  z-index: 1;
}


/* FIVE CONTENT */
.five-content{
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../img/feture-fone.png') no-repeat;
  background-size: 100%;
  width: 100%;
  
}

.features{
  width: 1170px;
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.features-boxs{
  width: 270px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-boxs>img{
  width: 70px;
  height: 70px;
  margin-bottom: 27px;
  
}

.features-boxs>h1{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.3px;
  margin-left: -1px;
  margin-bottom: 12px;
}

.features-boxs>p{
  line-height: 1.7;
  text-align: center;
  font-size: 16px;
}

/* MAIN */
.footer {
  background: black;
  /* height: 100px; */
}

/* @media(max-width: 1580px){
  .form-text{
    width: 50%;
  }
} */

@media (max-width: 1365px) {
  .form-text {
    width: 850px;
    height: 320px;
    margin: 30px;
    margin-left: 250px;
  }

  .form {
    width: 240px;
  }

  .form > p {
    margin: 20px 20px 20px;
  }

  .form > input {
    width: 190px;
    height: 45px;
    margin-left: 20px;
  }
  .form-button {
    margin: 5px 0 0 95px;
    width: 115px;
  }
  .text-on-fone {
    margin-top: 40px;
  }
  .text-on-fone > h1 {
    font-size: 43px;
  }

  .text-on-fone > p {
    font-size: 37px;
  }

  .block3{
    margin-top: -350px;
  }

  .gallery{
    margin-top: -230px;
  }

  .gallery>img{
    width: 25%;
  }

  .about-us{
    width: 1100px;
  }
}
